// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, Thanvir Diouf <tandiouf@gmail.com>
 */

/dts-v1/;

#include "sm6375.dtsi"
#include "pm6125.dtsi"
#include "pmk8350.dtsi"
#include "pmr735a.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/{
	model = "Xiaomi Poco X5 5G";
	compatible = "xiaomi,moonstone", "qcom,sm6375";
	chassis-type = "handset";
	
	chosen {
		stdout-path = "framebuffer";

		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer: framebuffer@85200000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x85200000 0x0 0xc00000>;
			width = <1080>;
			height = <2400>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
			clocks = <&gcc GCC_DISP_AHB_CLK>,
				<&gcc GCC_DISP_HF_AXI_CLK>,
				<&gcc GCC_DISP_THROTTLE_CORE_CLK>,
				<&gcc GCC_DISP_GPLL0_DIV_CLK_SRC>;
		};
	};

	aliases {
    	serial0 = &uart9;
	};

	gpio-keys {
		compatible = "gpio-keys";
		label = "gpio-keys";

		pinctrl-0 = <&vol_up_n>;
		pinctrl-names = "default";

		key-volume-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&pmr735a_gpios 1 GPIO_ACTIVE_LOW>;
			debounce-interval = <15>;
			linux,can-disable;
			wakeup-source;
		};
	};
	reserved-memory{
		cont_splash_mem: memory@85200000 {
            		reg = <0 0x85200000 0 0xc00000>;
            		no-map;
        	};

		ramoops@d0000000 {
			compatible = "ramoops";
			reg = <0 0xd0000000 0 0x200000>;
			pmsg-size = <0x100000>;
			console-size = <0x100000>;
		};
	};


  
 };

 //reserved-memory overrides
 &pil_adsp_mem {
    reg = <0 0x86700000 0 0x2800000>;
};

&pil_cdsp_mem {
    reg = <0 0x88f00000 0 0x1e00000>;
};

&pil_video_mem {
    reg = <0 0x8ad00000 0 0x500000>;
};

&pil_ipa_fw_mem {
    reg = <0 0x8b200000 0 0x10000>;
};

&pil_ipa_gsi_mem {
    reg = <0 0x8b210000 0 0xa000>;
};

&pil_gpu_micro_code_mem {
    reg = <0 0x8b21a000 0 0x2000>;
};

&pil_mpss_wlan_mem {
    reg = <0 0x8b800000 0 0x10000000>;
};

&dfps_data_mem {
    reg = <0 0x85e00000 0 0x100000>;
};

&removed_mem {
    reg = <0 0xc0000000 0 0x5100000>;
};

//PMIC overrides
&pm6125_pon {			//Remove duplicate pon labels from pm6125
    /delete-node/ pwrkey;
    /delete-node/ resin;
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	status = "okay";
	linux,code = <KEY_VOLUMEDOWN>;
};

&pmr735a_gpios {
	vol_up_n: vol-up-n-state {
		pins = "gpio1";
		function = "normal";
		input-enable;
		bias-pull-up;
		power-source = <1>;
	};
};

//OVERRIDES RELATED TO CHOSEN

&qupv3_id_1 {
	uart9: serial@4c8c000 {
		compatible = "qcom,geni-uart";
		reg = <0x0 0x04c8c000 0x0 0x4000>;
		interrupts = <GIC_SPI 510 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&gcc GCC_QUPV3_WRAP1_S3_CLK>;
		clock-names = "se";
		power-domains = <&rpmpd SM6375_VDDCX>;
		operating-points-v2 = <&qup_opp_table>;
		pinctrl-0 = <&qup_uart9_default>;
		pinctrl-1 = <&qup_uart9_sleep>;
		pinctrl-names = "default", "sleep";
		status = "okay";
	};
};

&tlmm {
	qup_uart9_default: qup-uart9-default-state {
		pins = "gpio25", "gpio26";
		function = "qup13_f2";
		drive-strength = <2>;
		bias-disable;
	};

	qup_uart9_sleep: qup-uart9-sleep-state {
		pins = "gpio25", "gpio26";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};
};
